.main-popup {
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*header*/

.header {
  /* background-color: #DFE8CC; */
  width: 80%;
  margin: 0 auto 2.5% auto;
  display: flex;
  justify-content: center;
  /* border-bottom: 2px solid black; */
  /* border-radius: 20px; */
}


.logo {
  margin-bottom: 10px;
  max-height: 150px;
}

.list {
  display: flex;
}

.list:hover {
  background-color: white !important;
}


.list-item {
  width: 100%;
  font-family: 'Segoe Print' !important;
  font-weight: bold !important;
  color: black !important;
  border: none !important;
  background-color: transparent !important;
}

.list-wrapper {
  width: 383px;
  margin: -20px 0 20px 8.5px;
  background-color: #9b9c9d;
  border: 2px solid black;
  padding-top: 12px;
}

.day-header {
  color: black;
}